	<header class="p-3 bg-dark text-white">
		<div class="container">
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/chart/index" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
			  <svg class="bi me-2" width="40" height="32" role="img" aria-label="home"><use xlink:href="#home"></use></svg>
				<span class="fs-4 text-white">Social Chat.!!</span>
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/chart/index" class="nav-item px-2 text-secondary">Home</a></li>
				<li><a href="https://github.com/dragonslam" class="nav-item px-2 text-white" target="_blank">Profile</a></li>
				<li><a href="https://github.com/dragonslam/social-chat_node.js.v16" class="nav-item px-2 text-white" target="_blank">Repositories</a></li>
				<li><a href="mailto:dragonslam@gmail.com" class="nav-item px-2 text-white">Contect</a></li>
				<li><a href="mailto:dragonslam@gmail.com" class="nav-item px-2 align-items-center text-white text-decoration-none">
					<img src="https://avatars.githubusercontent.com/u/3070045?v=4" alt="" width="32" height="32" class="rounded-circle me-2"></a>
				</li>
			</ul>

			<form class="col-lg-auto mb-10 mb-lg-0 me-lg-10">
			  <input type="text" id="txtUserName" class="form-control form-control-dark" placeholder="User Name..." aria-label="Name">
			</form>

			<div class="text-end">
				<button type="button" id="btnConnect" class="btn btn-warning">Connect</button>
				<button type="button" id="btnDisconnect" class="btn btn-outline-light me-2" style="display:none;">Disconnect</button>			  
			</div>
		  </div>
		</div>
	</header>